.home,
.home-container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home-container {
    max-width: 1024px;
}

.home-container .banner {
    width: 100%;
    height: 400px;
    position: relative;
    margin-bottom: -100px;
    z-index: -1;
    overflow: hidden;
}

.home-container .banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #eaeded);
    z-index: 2;
}

.home-container .slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 300%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    z-index: 1;
    animation: slide 7s infinite linear;
}

@keyframes slide {

    0% {
        left: 0;
    }

    35% {
        left: 0;
    }

    40% {
        left: -100%;
    }

    65% {
        left: -100%;
    }

    70% {
        left: -200%;
    }

    95% {
        left: -200%;
    }



}

.home-container .banner img {
    width: 100%;
    height: 100%;
    object-position: top left;
    object-fit: cover;
    overflow: hidden;
}

.home-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0;
    overflow-x: scroll;
    background-color: transparent;
}