.order-items {
    margin: 0;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 3px;
}

.order-info {
    background-color: #f29833;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: wrap;
    margin: 0;
}

.order-info span {
    margin: 5px 0;
    font-weight: bold;
    color: #000;
}

.order-info span i {
    color: #333;
}

.order-total {
    margin: 15px 0 10px 0;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}